.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    border-radius: 18px;
    box-sizing: border-box;
    
}

.chat-item.unread {
    background-color: #efe6d0;
    font-weight: bold;
}

.chat-item.active {
    background-color: #f5f5f5;
}

.chat-item:hover {
    background-color: #f5f5f5;
}

.chat-item-avatar {
    margin-right: 15px;
}

.chat-item-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-item-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-item-content-title {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.chat-item-content-last-message {
    font-size: 14px;
    color: #666;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-item-content-time {
    font-weight: normal;
    font-size: 12px;
    color: #999;
}