.record-selection {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    min-width: 700px;
    border-top: 5px solid #42a5f5;
    
}

.record-selection h3 {
    background-color: #42a5f5;
    color: white;
    padding: 10px;
    margin: -20px -15px 10px -15px;
    border-radius: 8px 8px 0 0;
    font-size: 18px;
    text-align: center;
}

.record-select-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.record-select-card {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #42a5f5;
    opacity: 0;
    animation: floatIn 1s forwards;
    cursor: pointer;
}

.record-select-card:hover {
    background-color: #f0f8ff;
    border-left: 5px solid #42a5f5;
}

.record-select-card p {
    margin: 5px 0;
    font-size: 16px;
}

.record-select-card span {
    color: #007bff;
    font-weight: bold;
}

.record-select-card a:hover {
    text-decoration: underline;
}

.record-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 2px solid #dfe1e2;
    
}
.record-actions button {
    padding: 5px 10px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #FFF;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left:5px;
    margin-top:5px;
}

.record-actions button:hover {
    background-color: #0056b3;
    color: white;
}

.action-button-delete {
    background-color: #f8011a !important;
    color: white !important;
    border: 1px solid #f3031b !important;
}

.action-button-delete:hover {
    background-color: #d24a58 !important;
    color: white !important;
}

.action-button-edit {
    background-color: #ffc107 !important;
    color: white !important;
    border: 1px solid #ffc107 !important;
}

.action-button-edit:hover {
    background-color: #b38f00 !important;
    color: white !important;
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}