.register{
    width:400px;
}

.register-title{
    padding: 10px;
}

.register-title span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.register form{
    display: flex;
    flex-direction: column;
}

.register-form-group{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.register-form-group label{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.register-form-group input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-top: 5px;
}

.register-form-group input:focus{
    outline: none;
}

.register-form-group input::placeholder{
    font-family: 'Roboto', sans-serif;
    color:silver;
}

.register-form-group-checkbox label{
    font-family: "Roboto", sans-serif;
}

.register-form-group-button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-group-button button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}
.register-form-group-button button:hover{
    background-color: #0056b3;
}
.register-form-group-button button:focus{
    outline: none;
}

.register-form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.register-form-login a{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.register-form-login a:hover{
    color: #0056b3;
}

.register-form-error{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form-group-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.password-input-wrapper {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-top: 5px;
    height: 35px; /* Match the height with the email input */
}

.password-input-wrapper input {
    width: 100%; 
    padding-right: 40px; /* Add padding-right for the icon */
    border: none; /* Remove border since the wrapper already has one */
    box-sizing: border-box; /* Ensure padding is included in the width */
    height: 100%; /* Make sure the input height matches the wrapper */
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    position: relative;
    top: -5px;
}

.password-input-wrapper input:focus {
    outline: none;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #999; /* Optional: Change icon color */
}

.password-icon:hover {
    color: #333; /* Optional: Change icon color on hover */
}