.followers-container-profile {
    background-color: #fff5e6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.followers-list-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.follower-profile {
    display: flex;
    align-items: center;
}

.follower-picture-profile {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.view-all-profile {
    color: #00aaff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: right;
}