.card {
    background-color: #F7EEDD;
    border-radius: 18px;
    padding:20px 10px 18px 10px;
    margin: 10px;
}

.card-title span {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.chat-list-card {
    z-index: 2;
    width: 340px;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat-list-card .search-chat {
    box-sizing: border-box;
    width: 100%;
}

.chat-list-card .search-chat input {
    align-self: center;
    width: 100%;
    height: 40px;
    border-radius: 18px;
    border: none;
    margin: 10px 0;
    padding-left: 18px;
}

.chat-list {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
    
}

.chat-page{
    display: flex;
    flex-direction: row;
}

/* chat box */
.chat-box {
    background-color: #F7EEDD;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    height: 40px;
}

.chat-header-left {
    display: flex;
    align-items: center;
}

.chat-header-avatar img {
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.chat-footer {
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-top: 1px solid #e0e0e0;
    height: 40px;
}

.message-input {
    width: 80%;
}

.message-input textarea {
    font: inherit;
    align-self: center;
    width: 100%;
    max-height: 60px;
    height: 30px;
    resize: none;
    border-radius: 18px;
    border: none;
    margin-top: 10px;
    padding: 4px 18px; 
    box-sizing: border-box;
}

.chat-box .chat-body {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.chat-body-message {
    display: flex;
    flex-direction: column-reverse;
    
}

.btn-send {
    background-color: #008DDA;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 0px 14px;
    height: 100%;
    cursor: pointer;
    margin-top: 5px;
}

.btn-send:hover {
    background-color: #005f8b;
}

.btn-send svg {
    font-size: 18px;
}

.btn-attachment {
    background-color: transparent;
    color: #008DDA;
    border: none;
    border-radius: 18px;
    padding: 2px 10px;
    height: 100%;
    cursor: pointer;
    margin-top: 5px;
}

.btn-attachment:hover {
    background-color: #f5f5f5;
}

.btn-attachment svg {
    font-size: 24px;
}