.create-patient-record {
    background-color: #eaf6ff;
    padding: 30px;
    text-align: center;
    min-height: 70vh;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin: 0 0 20px 0;
}

.form-medical-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.form-medical-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-medical-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-medical-container input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.date-inputs {
    display: flex;
    gap: 10px;
}

.date-inputs select {
    flex: 1;
}

.submit-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}



.toggle-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding:10px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
    border-top:1px solid #ccc;
    margin-bottom: 20px;
}

.toggle-option {
    cursor: pointer;
    color: black;
    transition: color 0.3s ease-in-out;
}

.toggle-option.active {
    color: #00aaff; /* Màu xanh dương */
    font-weight: bold;
}




.form-medical-container-2{
    display: grid;
    max-width: 800px;
    margin: 0 auto;
}
.form-medical-container-2 input 
{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
.form-medical-group-2 {
    text-align: left;
}
.form-medical-group-2 label {
    font-weight: bold;
    margin-bottom: 5px;
}
