.create-patient-record {
    background-color: #eaf6ff;
    padding: 30px;
    text-align: center;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
}

.form-medical-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.form-medical-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-medical-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.date-inputs {
    display: flex;
    gap: 10px;
}

.date-inputs select {
    flex: 1;
}

.submit-button {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
