.center-user-home-post{
    background-color: #ffe9d1;
    border-radius: 10px;
    width: 750px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}
.center-user-home-post-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.center-user-home-post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
     /* Replace with avatar image */
    background-size: cover;
    margin-right: 10px;
}
.center-user-home-post-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center-user-home-post-user-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.center-user-home-post-user-info span {
    font-weight: bold;
    display: block;
}
.center-user-home-post-user-info-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.center-user-home-post-user-info-top-name {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.center-user-home-post-user-info-top-action button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: #333;
}

.center-user-home-post-user-info-top-action button:focus {
    outline: none;
}
.center-user-home-post-badge {
    background-color: #ffe159;
    color: black;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;
}
.center-user-home-post-date {
    display: flex;
}
.center-user-home-post-date span {
    font-size: 12px;
    color: #666;
}
.center-user-home-post-privacy {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.center-user-home-post-title {
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.center-user-home-post-title span {
    color:blue;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}
.center-user-home-post-title span:hover {
    text-decoration: underline;
}
.center-user-home-post-categories {
    padding: 0 15px;
    margin-bottom: 15px;
}

.center-user-home-post-category {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: black ;
}

.cate1 {
    background-color: #ff4b4b;
}

.cate2 {
    background-color: #1bc4da;
}

.center-user-home-post-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    margin-bottom: 15px;
}

.center-user-home-post-image {
    position: relative;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.center-user-home-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.full-width {
    width: 100%;
    height: 400px; /* Adjust as needed */
}

.half-width {
    width: calc(50% - 10px);
    height: 200px; /* Adjust as needed */
}

.third-width {
    width: calc(33.33% - 10px);
    height: 200px; /* Adjust as needed */
}

.quarter-width {
    width: calc(50% - 10px);
    height: 200px; /* Adjust as needed */
}

.center-user-home-post-image-more {
    cursor: pointer;
}

.center-user-home-post-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-content {
    position: relative;
    display: flex;
    align-items: center;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    margin-top: 60px;
}
.button-transfer-image {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.prev-button, .next-button {
    width: 50px;
    height: 50px;
    padding:10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-button:hover, .next-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.center-user-home-post-footer {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.center-user-home-post-footer-infoPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-user-home-post-footer-infoPost-like{
    width:auto;
    height:auto;
}
.center-user-home-post-footer-infoPost span {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.center-user-home-post-footer-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    height:40px;
}
.center-user-home-post-footer-action table{
    width: 100%;
    height: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.center-user-home-post-footer-action td{
    width: 50%;
    height: 100%;
}

.center-user-home-post-footer-action button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border: none;
    width:100%;
    height:100%;
    font-size: 16px;
}
.center-user-home-post-footer-action button:focus {
    outline: none;
}
.center-user-home-post-footer-action button:hover {
    background-color: #c5cacb;
    color: #F7EEDD;
}



.center-user-home-post-footer-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 16px;
}
.center-user-home-post-comment-avatar {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}
.center-user-home-post-comment-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.center-user-home-post-comment-input {
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding: 0 10px;
    font-size: 16px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
}

.center-user-home-post-comment-input input{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    background-color: #f8f8f8;
}
.center-user-home-post-comment-input input:focus{
    outline: none;
}
.center-user-home-post-comment-input button {
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    padding:10px;
    border-radius: 10px;
    border: none;
}
.center-user-home-post-comment-input button:focus {
    outline: none;
}
.center-user-home-post-comment-input button:hover {
    background-color: #1bc4da;
}





.center-user-home-post-comment-title {
    display:flex;
    justify-content: left;
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.center-user-home-post-comment-title span {
    font-weight: bold;
    display: block;
    margin-left:5px;
    font-size: 20px;
    color:#333;
}
.center-user-home-post-comment-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.center-user-home-post-comment-list-item {
    display: flex;
    margin-bottom: 10px;
    
}
.center-user-home-post-comment-list-item-avatar {
    background-size: cover;
    margin-right: 10px;
    display: flex;
}
.center-user-home-post-comment-list-item-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.center-user-home-post-comment-list-item-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.center-user-home-post-comment-list-item-content span {
    font-weight: bold;
    display: block;
    margin-left:5px;
}
.center-user-home-post-comment-list-item-content span:last-child {
    font-weight: normal;
    color: #666;
}
.center-user-home-post-comment-list-item-content-user {
    display: flex;
    
}   
.center-user-home-post-comment-item-content-text {
    padding: 10px;
    border-radius: 10px;
    background-color: #F7EEDD;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    display:flex;
}
.center-user-home-post-comment-item-content-text span {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.center-user-home-post-comment-item-content-action{
    display: flex;
    align-items: center;
}
.center-user-home-post-comment-item-content-action button{
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.center-user-home-post-comment-item-content-action button:focus {
    outline: none;
}

.center-user-home-post-comment-item-content-action button:hover {
    background-color: #1bc4da;
    color: #F7EEDD;
}

.center-user-home-post-footer-browser {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 16px;
}
.center-user-home-post-footer-browser-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.center-user-home-post-footer-browser-body table{
    width: 100%;
    height: 100%;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.center-user-home-post-footer-browser-body td{
    width: 50%;
    height: 100%;
}
.center-user-home-post-footer-browser-body button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 16px;
}
.center-user-home-post-footer-browser-body-button-acess{
    background-color: #1bc4da !important;
}
.center-user-home-post-footer-browser-body-button-deny{
    background-color: #b8b8b8 !important;
}
.center-user-home-post-footer-browser-body button:focus {
    outline: none;
}
.center-user-home-post-footer-browser-body button:hover {
    background-color: #c5cacb;
    color: #F7EEDD;
}

