
.center-user-home{
    position: absolute;
    left: 350px;
    right:380px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
    z-index:2;
}
.center-user-home-activity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F7EEDD;
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
}
.center-user-home-activity img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.center-user-home-activity-input{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    padding: 0 20px;
    background-color: silver;
    cursor: pointer;
    display: flex;
    align-items: center; 
}
.center-user-home-activity-input span{
    font-size: 16px;
    font-weight: 600;

}
.center-user-home-activity input:focus{
    outline: none;
}
.center-user-home-listPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 1;
}
.center-user-home-no-post span{
    font-size: 20px;
    font-weight: 600;
    color: #020202;
}