.fill-new-password{
    width:400px;
}

.fill-new-password-title{
    padding: 10px;
}
.fill-new-password-des{
    padding: 5px 0;
    font-size: 1rem;
}  

.fill-new-password-title span{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}


.fill-new-password form{
    display: flex;
    flex-direction: column;

}

.fill-new-password-form-group{
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

.fill-new-password-form-group label{
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.fill-new-password-form-group input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 25px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-top: 5px;
}

.fill-new-password-form-group input:focus{
    outline: none;
}

.fill-new-password-form-group input::placeholder{
    font-family: 'Roboto', sans-serif;
    color:silver;
}

.fill-new-password-form-group-button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fill-new-password-form-group-button button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}


.fill-new-password-form-group-button button:hover{
    background-color: #0056b3;
}